/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/bootstrap
/database
/nbproject
/old
/tests
Homestead.json
Homestead.yaml
.env

/ionic/*.sublime-workspace
/ionic/.DS_Store
/ionic/Thumbs.db
/ionic/UserInterfaceState.xcuserstate
/ionic/$RECYCLE.BIN/

/ionic/*.log
/ionic/log.txt
/ionic/npm-debug.log*

/ionic/.idea
/ionic/.ionic
/ionic/.sass-cache
/ionic/.sourcemaps
/ionic/.versions
/ionic/.vscode
/ionic/coverage
/ionic/dist
/ionic/node_modules
/ionic/platforms
/ionic/plugins
/ionic/www
